<section class="app">
  <div class="container" style="width: 100%">
    <div class="dashboardWrapper col-12" id="dashboard">
      <div class="row">
        <div class="col-md-4">
          <h2> Total Paid </h2>
          <div class="dashboardTotal paid text-center" id="totalPaid">
            $ 0.0
          </div>
        </div>
        <div class="col-md-4">
          <h2> Total Due </h2>
          <div class="dashboardTotal due text-center" id="totalDue">
            $ 100.00
          </div>
        </div>
        <div class="col-md-4">
          <h2> Total Due </h2>
          <div class="dashboardTotal past-due text-center" id="totalPastdue">
            $ 100.00
          </div>
        </div>
      </div>
    </div>
  </div>
</section>