<section class="app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#account-tab">Account Settings</a></li>
          <li class="tab col s3"><a href="#company-tab">Company Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="">
      <div class="col s12" id="account-tab">
        <div class="row">
        <%= render 'devise/registrations/shared/account' %>
        </div>
      </div>
      <div class="col s12" id="company-tab">
        <%= render 'devise/registrations/shared/company' %>
      </div>
    </div>
  </div>
</section>
