<nav class="navbar navbar-inverse navbar-lg navbar-fixed-top mainNav" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse-03">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">Zenvoices</a>
  </div>

  <div class="collapse navbar-collapse">
    <% if user_signed_in? %>
      <a class="waves-effect waves-light btn modal-trigger" style="margin-top: 15px" href="#new-client">
        <span class="fi-plus medium"></span>
        Add Client
      </a>
    <% end %>
    <!-- nav dropdown -->
    <ul id="account-dropdown" class="dropdown-content">
        <li><%= link_to "My Account", edit_user_registration_path %></li>
        <li><a href="#">Application Settings</a></li>
        <li><a>Help</a></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    <!--end nav dropdown -->
    <ul class="nav navbar-nav navbar-right" style="margin-right: 15px">
      <% if user_signed_in? %>
        <div class="btn-group" id="account">
          <a class="btn waves-effect waves-light dropdown-button" data-activates="account-dropdown" style="margin-top: 20px" data-target="dropdown">Account<i class="material-icons right caret" style="margin-top: 15px; margin-left: 25px"></i></a>
        </div>
      <% end %>
    </ul>
  </div>
</nav>

<% if user_signed_in? %>
  <%= render 'modals/client' %>
<% end %>
