<nav class="navbar navbar-inverse navbar-lg navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse-03">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" href="/">Zenvoices</a>
	</div>

	<div class="collapse navbar-collapse">
	</div>
</nav>
