<div class="iconbar leftBar">
  <ul>
    <li class="active"><a href="/" class="fi-home" title="Dashboard"></a></li>
    <li ><a href="#" class="fi-clipboard-pencil" title="Invoices"></a></li>
    <li ><a href="#" class="fi-torsos-all" title="Clients"></a></li>
    <li ><a href="#" class="fi-results-demographics medium" title="Reports"></a></li>
    <li><a href="#" class="fi-page-add" title="Documentation"></a></li>
    <li><a href="#" class="fi-power medium" title="Logout"></a></li>
  </ul>
</div>
