<div class="iconbar leftBar">
  <ul>
    <li class="active"><a href="/" class="fui-home" title="Dashboard"></a></li>
    <li ><a href="#" class="fui-document" title="Invoices"></a></li>
    <li ><a href="#" class="fui-user" title="Clients"></a></li>
    <li ><a href="#" class="fui-list-bulleted" title="Reports"></a></li>
    <li><a href="#" class="fui-new" title="Documentation"></a></li>
    <li><a href="#" class="fui-power" title="Logout"></a></li>
  </ul>
</div>
